.daily-post {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 50px;
  overflow-y: scroll;
}
.date {
  position: absolute;
  font-size: 22px;
  color: #959595; 
  top: -35px;
}

